<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2>Add a New Creature</h2>

    <%= bootstrap_form_for @creature do |f| %>
    <%= f.text_field :name, :placeholder =>"Enter a creature" %>
    <%= f.text_field :desc, :placeholder => "Enter a description" %>
    <%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>
    <%= f.submit "Create Creature", :class => "new-page-btn btn btn-primary" %>
    <% end %>
  </div>
</div>