<h2>Creature Feature</h2>


<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h3><%= @creature.name %></h3>
    <p><%= @creature.desc %></p>

    <hr>

    <h4>Tags</h4>

    <% @creature.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>

    <hr>

    <%= link_to "Edit", edit_creature_path, :class=>"btn btn-primary" %>
    <%= link_to "Delete", creature_path(@creature), :method => :delete, :class=>"btn btn-danger" %>
    <%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), creature_path(@creature), :method => :delete, data:{confirm: "You will delete this creature."}, :class=>"btn btn-danger" %>

    <hr>

    <!-- Link and pic of one -->
    <%= link_to "Photo Here", @img_url, :class => "btn btn-link" %>
    <img src="<%= @img_url %>">

    <hr>

    <!-- Pics with link from array -->
    <% @url_list.each do |photo| %>
      <a href="<%= photo %>" target="_blank"><img src="<%= photo %>" href="<%= photo %>"></a>
    <% end %>

  </div>
</div>
