<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Creature Feature</h2>

    <h3><%= @creature.name %></h3>
    <p><%= @creature.desc %></p>

    <hr>

    <div id="show-carousel" class="carousel slide" data-ride="carousel" style="margin-top: 30px;">
        <ol class="carousel-indicators">
            <li data-target="#show-carousel" data-slide-to="0" class="active"></li>
            <% @url_list.each_with_index do |photo, idx| %>
            <li data-target="#show-carousel" data-slide-to="<%= idx %>" class=""></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/08/83/d2/0883d25dd26d9dc464b1944da929213a.jpg">
                <div class="container">
                    <div class="carousel-caption">
                    <h3>Found in the Bog</h3>
                    </div>
                </div>
            </div>
            <% @url_list.each do |photo| %>
            <div class="item">
                <a href="<%= photo[:url] %>" target="_blank"><img src="<%= photo[:pic] %>"></a>
            </div>
            <% end %>
        </div>
        <a class="left carousel-control" href="#show-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#show-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <hr>

    <h4>Tags</h4>

    <% @creature.tags.each do |tag| %>
      <%= link_to tag.name, tag, :class=>"btn btn-info" %>
    <% end %>

    <hr>

    <%= link_to "Edit", edit_creature_path, :class=>"new-page-btn btn btn-primary" %>
    <%= link_to raw("<i class=\"glyphicon glyphicon-trash\"></i>"), creature_path(@creature), :method => :delete, data:{confirm: "You will delete this creature."}, :class=>"new-page-btn btn btn-danger" %>
  </div>
</div>


<!--     <div class="row">
      <% @url_list.each do |photo|%>
      <div class="col-xs-12">
        <a href="<%= photo[:url] %>" target="_blank">
          <img src="<%= photo[:pic] %>" class="show-pics img-responsive">
        </a>
      </div>
      <% end %>
    </div> -->

